.container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    padding: 0 64px;
    box-sizing: border-box;
    margin-top: 48px;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.title {
    color: #101828;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
}

.info {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 14px;
    color: #344054;
}


.reviews {
    color: #667085;
}

.location {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    display: flex;
    text-decoration: underline;
    cursor: pointer;
}


.price {
    color: #101828;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
}

.gallery {
    display: flex;
    direction: row;
    justify-content: left;
    align-items: flex-start;
    gap: 48px;
    margin-bottom: 14px;
}


.image {
    width: 292px;
    height: 312px;
    object-fit: cover;
    border-radius: 10px;
}

.description {
    color: #475467;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 1.5rem;
    color: #666;
}

.error {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 1.2rem;
    color: #e44848;
    text-align: center;
    padding: 0 20px;
}

.infoSection {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 40px;
}

.infoLink {
    text-decoration: none;
    color: #101828;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    position: relative;
    padding-bottom: 24px;
}

.activeInfoLink::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #D84343;
}

.contentWrapper {
    display: flex;
    margin-top: 20px;
}

.outletContainer {
    flex: 1;
    padding-right: 10px;
}

.bookFormContainer {
    flex: 1;
    padding-left: 10px;
}

@media (max-width: 768px) {
    .gallery {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    .image {
        width: 100%;
        height: auto;
        max-width: 400px;
        object-fit: cover;
    }

    .image {
        aspect-ratio: 1/1;
    }

    .title {
        font-size: 24px;
    }

    .price {
        font-size: 24px;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 0 16px;
    }

    .info {
        flex-direction: column;
        align-items: flex-start;
    }

    .location {
        padding-left: 0;
    }

    .gallery {
        gap: 5px;
    }
}